section {
    display: grid;
    grid-template-columns: 20% 1fr;
}
main {
    display: grid;
    grid-template-rows: 30% 1fr;
    margin: 0 30px;
}

.create-contact-headerDiv {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 10px 0;
    margin-top: 10px;
}

.create-contact-headerDiv img {
    height: 100%;
}

.manage-label-icon-div {
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    margin: auto 0;
}

.manage-label-icon-div:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.manage-label-icon-div:hover {
    background-color: #f6fafe;
    color: #4378bc;
}

#manage-label-icon {
    fill: #4f93ed;
    vertical-align: middle;
}

.save-button {
    background: #e7e8e8;
    border: none;
    outline: none;
    position: absolute;
    right: 10%;
    margin-top: 10em;
    padding: 1em 2em;
    border-radius: 5px;
}


.main-inputDiv {
    display: grid;
    height: 100%;
    margin: 1em 4em;
}

.create-contact-inputDiv {
    display: grid;
    grid-template-columns: 5% 55% 1fr;
    align-items: center; 
}

.phone-inputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-contact-input {
    width: 35vw;
    height: 4vh;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #e0e0e0;
    margin: 1em 0;
}

.birthday-input {
    margin-bottom: 0;
    margin-top: 1em;
}

.phone-input {
    width: 25.5vw;
}

.create-contact-input:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #2979e2;
    outline: none;
}


.create-contact-input::placeholder {
    font-size: 14px;
    line-height: 24px;
    font: 400 Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: #9e9e9e;
}

.create-contact-input:focus::placeholder {
    color: #2979e2;
    font-size: 11px;
    position: relative;
    bottom: 8px;
}

#first-name-icon {
    fill: #7e7e7e;
}


.flag-div {
    background-color: yellow;
    width: 4vw;
    height: 4vh;
    position: relative;
    left: 2em;
}

.first-name-dropIcon {
    width: 6vw;
    height: 3vh;
    fill: #b4b4b4;
    margin-left: 1em;
}



.birth-date {
    font-size: 10px;
    color: #c8c8c9;
    margin: 0;
}