.open {
  visibility: visible;
}

.closed {
  visibility: hidden;
}

.nav-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
  min-width: 0;
}

.nav-div .nav-aside1 {
  display: flex;
  align-items: center;
  margin: 0em 1em;
}

.nav-div .nav-aside1 .menu-div {
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

.nav-div .nav-aside1 .menu-div:hover {
  background-color: #f0f0f0;
}

.nav-div .nav-aside1 .menu-div .nav-menu {
  fill: #5f6368;
  opacity: 1;
  width: 22px;
  height: 22px;
}



.nav-div .nav-aside1 .contacts-header {
  font-family: "Product Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #5f6368;
  opacity: 1;
  margin: 0px 10px;
}

.nav-div .nav-aside1 .contact-icon {
  width: 40px;
  height: 40px;
}


.nav-div .nav-aside2 {
  align-items: center;
}

.nav-div .nav-aside2 .search-input {
  background-color: #f1f3f4;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 17px;
  width: 50vw;
  margin-left: 5em;
  position: relative;
  min-width: 50%;
}
.nav-div .nav-aside2 .search-input::placeholder {
  font-size: 15px;
  font-family: "Product Sans", Arial, sans-serif;
  padding-left: 3em;

}

.nav-div .nav-aside2 .search-input:focus {
  background-color: #fff;
  box-shadow: 0px 0.5px 0.5px 1px #808080;
  border-color: transparent;
  border-width: 0 1px;
  outline: none;
  border-radius: 10px 10px 0 0;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));

}


.nav-div .nav-aside2 .search-icon {
  z-index: 1;
  fill: #5f6368;
  opacity: 1;
  position: absolute;
  padding: 13px 5em;
}

.nav-div .article1 {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 5em;
}

.help-icon, .app-menu, .settings-icon {
  fill: #5f6368;
  opacity: 1;
  width: 5vw;
  height: 5vh;
}


.profile-image {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

@media screen and (min-width: 2560px) {
  .nav-div .article1 {
    margin: 0 auto;
  }

  .nav-div .nav-aside2 .search-input {
    margin-left: 15em;
  }

  .nav-div .nav-aside2 .search-icon {
    padding-left: 13.5em;
  }

}

@media screen and (min-width: 1440px) {
  .nav-div .article1 {
    margin-left: 4em;
  }
}

@media screen and (max-width: 425px) {
  .nav-div .nav-aside2 .search-input {
    display: none;
  }

  .nav-div .nav-aside1 .contact-icon {
    display: none;
  }

  .nav-div .nav-aside1 .contacts-header {
    font-size: 25px;
    margin-left: 5px;
  }

  .nav-div .article1 {
    margin-left: 8em;
    height: auto;
    min-width: 50%;
    padding: 1em 1em;
    height: 6vh;
  }

  .nav-div .article1 .help-icon,
.settings-icon {
  width: 50%;
}


  .nav-div .article1 .app-menu {
    display: none;
  }

}



.google-logoDiv {
  display: none;
}


.create-contactDiv {
  display: flex;
  flex-direction: column;
  transition-property: all;
  height: 100vh;
}


.create-contactDiv .create-contact {
    border-radius: 30px;
    padding: 5px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 0.8px 2px #8a8a8a;
    margin: 10px;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.04s;
    width: 75%;
    position: relative;
    z-index: 0;
  }

  .create-contact:hover {
    background-color: #f6f9fe;
    box-shadow: 0 14px 26px -12px #808080;
    color: #7b9bce;
  }


.create-contactIcon {
  margin: 0px 15px;
}

.create-contactText {
  font-weight: bolder;
  font-size: 15px;
  color: #616161;
}

.contacts-overallDiv {
  list-style: none;
  width: 100%;
  padding: 0px;
  display: block;
}

.contacts-overallDiv .contacts-div {
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0px 24px 24px 0px;
  height: 40px;
}

.contacts-overallDiv .contacts-div:hover {
  background-color: #f1f3f4;
}


.contacts-overallDiv .contacts-div .contacts {
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    color: #616161;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25rem;
    margin-left: 2em;
}

.contacts-overallDiv .contacts-div #contacts-icon {
  fill: #7e7e7e;
  margin-left: 25px;
}

.create-labelDiv {
  display: none;
}


.merge-no {
  position: relative;
  left: 5em;
}

.line {
  border-top: 1px solid #e0e0e0;
  width: 260px;
  margin: 5px 0px;
}

.create-contactModal {
  width: 12em;
  background-color: #fff;
  box-shadow: 0 14px 26px -12px #808080; 
  color: #202124;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  top: 3em;
  left: 1em;
  z-index: 1000;
  display: none;
}

.create-contactModal:hover {
  background-color: #eeeeee;
}

.modal-icon {
  margin-left: 1em;
}

.create-a-contact {
  margin: 1em auto;
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-size-adjust: 100%;
  color: #5f6368;
  opacity: 1;
}


@media screen and (max-width: 1360px) {
  .create-contactDiv {
    width: 30%;
  }
  .contacts-overallDiv .contacts-div {
    height: 60px;
  }
  
  .contacts-overallDiv .contacts-div .contacts {
    line-height: 1.3rem;
  }
}

@media screen and (max-width: 1020px) {
  .create-contactDiv {
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 80%;
    min-width: 50%;

  }

  .google-logoDiv {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px;
  }

  .google-logoDiv img {
    width: 25%;
  }

  .google-logoDiv p {
    letter-spacing: .01428571em;
    font-family: Roboto,
    Arial,
    sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    text-size-adjust: 100%;
    color: #5f6368;
    opacity: 1;
    font-size: 35px;
    margin-left: 20px
  }

  .create-contactDiv .create-contact {
    display: none;
  }


}

@media screen and (max-width: 990px) {
  .show-hideDiv {
    display: none;
  }
  
  .create-contactDiv {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
    clip-path: inset(0px -15px 0px 0px);
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .contacts-overallDiv .contacts-div .contacts {
    font-size: 25px;
  }
}

@media screen and (max-width: 325px) {
  .contacts-overallDiv .contacts-div .contacts {
    font-size: 30px;
  }

  .contacts-overallDiv .contacts-div {
    height: 70px;
  }
}





